:root {
    --base: #949494;
    --background: #fff;
    --font: #333;
    --accent: #8a4dc3;
}

body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: helvetica, arial, 'sans-serif';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: var(--font);
    background: var(--background);
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

form {
    margin-top: 1rem;
    max-width: 50vw;
}
